/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
    background-color: #f9f9fa;
}
.col {
    padding: 0 .3rem !important;
}
.collapsible {
    shadow: none !important;
}
.collapsible-body {
    padding: 0.6rem 1.6rem !important;
}
.card {
    margin-bottom: 0.3rem !important;
    width: 170px;
}
.card-action {
    padding: 1px 12px !important;
    word-break: break-all;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.recommend-search-box {
    padding-left: 12px !important;
}
.recommend-card-content {
    padding: 0px 24px 10px 24px !important;
}
.recommend-card-username {
    margin-left: 24px;
    padding-top: 10px;
    display: block;
}
.input-field .prefix.active {
    color: #fff;
}
@media screen and (min-width: 1px) and (max-width: 767px){
    #columns[data-columns]::before {
        content: '2 .col-xs-6';
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    #columns[data-columns]::before {
        content: '3 .col-sm-4';
    }
}
@media screen and (min-width:992px) and (max-width: 9999px){
    #columns[data-columns]::before {
        content: '4 .col-md-3';
    }
}#grid[data-columns]::before {
	content: '3 .column.size-1of3';
}
/* These are the classes that are going to be applied: */
.column {
    float: left;
    margin-left: 8px;
}
.index-container {
    padding-top: 60px;
    padding-bottom: 80px;
    margin-bottom: 70px;
}
.index-search-input {
    padding-left: 12px !important;
}
.index-subtitle {
    maring-top: 20px;
}
.index-category-icon {
    width: 140px;
}
.index-category-box {
    text-align: center;
}
.index-category-l-box {
    margin-top: -30px !important;
}
.to-home-button {
    bottom: 45px;
    right: 60px;
    position: fixed;
}
.detail-design-box {
    text-align: center;
    margin-top: 40px;
}
.detail-design-box-right {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 40%;
    height: 100%;
    text-align: center;

    box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.detail-design-user-profile {
    padding: 26px 0 0 26px !important;
}
.my-border {
    border-bottom: 1px solid #e6e6e6;
}
.detail-message-textarea {
    padding: 6px 12px;
    display: block;
    color: #555;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    width: 100%;
    max-width: 35em;
    line-height: 1.8;
    height: auto;
}
.detail-each-box {
    padding: 12px 32px 0 32px !important;
}
.my-badge {
    width: 80%;
    margin-top: 40px;
    float: left;
    padding-left: 100px;
    padding-right: 20px;
}
.my-badge span {
    margin-left: 4px;
    margin-top: 4px;
    float: left;
}
