/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
    background-color: #f9f9fa;
}
.col {
    padding: 0 .3rem !important;
}
.card {
    margin-bottom: 0.3rem !important;
}
.collapsible {
    shadow: none !important;
}
.collapsible-body {
    padding: 0.6rem 1.6rem !important;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.recommend-search-box {
    padding-left: 12px !important;
}
.recommend-card-content {
    padding: 0px 24px 10px 24px !important;
}
.recommend-card-username {
    margin-left: 24px;
    padding-top: 10px;
    display: block;
}
